@import url('http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css');
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

@import 'variables';

* {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-family: 'Pacifico', sans-serif;
}

h2 {
	font-family: 'Pacifico', sans-serif;
}
